  //- - - - - -//
//- OBJECTS -//
 - - - - - //
a-asset-item#ScaryTree(src="assets/3d-objects/trees/scary_tree/scene.gltf")
a-asset-item#Trees(src="assets/3d-objects/trees/trees/scene.gltf")
a-asset-item#Tree(src="assets/3d-objects/trees/tree/scene.gltf")

  //- - - - - - -//
//- MATERIALS -//
 - - - - - - //
//- a-asset-item#ForestFloor(src="assets/materials/forest/forest_floor_material/scene.gltf")
