a-entity.stars(material="fog: false" stars="color: #859393; count: 50")

//- a-entity.ground(
//-   geometry="primitive: ground"
//-   shadow="cast: false"
//-   rotation="-90 0 0"
//-   material="flatShading: true; src: #ForestFloor"
//-   )
  //- material="flatShading: true; color: #003334"
  //- mat

//-a-entity(
  geometry="primitive: plane"
  material="shader: flat; src: #ForestFloor")

//- Pillars
a-entity.pillars
  a-box(material="shader: flat; color: #000" width="0.2" height="100" depth="0.2" position="50 0 50")
  a-box(material="shader: flat; color: #000" width="0.2" height="100" depth="0.2" position="50 0 -50")
  a-box(material="shader: flat; color: #000" width="0.2" height="100" depth="0.2" position="-50 0 50")
  a-box(material="shader: flat; color: #000" width="0.2" height="100" depth="0.2" position="-50 0 -50")
