//- - - - - -//
//- OBJECTS -//
  - - - - - //
a-asset-item#ScaryTree(src="3ds/scary_tree.glb")
a-asset-item#PhoneBooth(src="3ds/phone_booth_from_prypiat.glb")
img(src="sprites/Romeo-Toasty.png")

//- - - - - - -//
//- MATERIALS -//
  - - - - - - //
//- a-asset-item#ForestFloor(src="assets/materials/forest/forest_floor_material/scene.gltf")
