//- - - - - -//
//- OBJECTS -//
  - - - - - //
a-asset-item#ScaryTree(src="assets/3d-objects/scary_tree.glb")
//- img#romeo(src="assets/sprites/Romeo-Toasty.png")

//- a-asset-item#ScaryTree(src="assets/3d-objects/trees/scary_tree/scene.gltf")
//- a-asset-item#Trees(src="assets/3d-objects/trees/trees/scene.gltf")
//- a-asset-item#Tree(src="assets/3d-objects/trees/tree/scene.gltf")

//- a-asset-item#PhoneBooth(src="assets/3d-objects/phone_booth_from_prypiat/scene.gltf")
//- a-asset-item#PhoneBooth(src="assets/3d-objects/phone_booth_from-prypiat/source/PhoneBox.fbx")
//- a-entity(text="font: https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Regular.woff2; value: Via URL.")

//- - - - - - -//
//- MATERIALS -//
  - - - - - - //
//- a-asset-item#ForestFloor(src="assets/materials/forest/forest_floor_material/scene.gltf")
