//- - - - - -//
//- OBJECTS -//
  - - - - - //
a-asset-item#ScaryTree(src="assets/3d-objects/scary_tree.glb")
a-asset-item#PhoneBooth(src="assets/3d-objects/phone_booth_from_prypiat.glb")
img(src="assets/sprites/Romeo-Toasty.png")

//- - - - - - -//
//- MATERIALS -//
  - - - - - - //
//- a-asset-item#ForestFloor(src="assets/materials/forest/forest_floor_material/scene.gltf")
