doctype html
html(lang="en")
  head
    title #js13k-2020
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="data:,")
    //- script(src="https://js13kgames.com/webxr-src/2020/aframe.js")
    script(src="aframe.js")
    script(src="index.js")
  body
    a-scene(shadow fog="far: 1000; color: #c2c17e" background="color: #24b5af")
      a-entity(light="type:directional; castShadow:true;" position="0 2 -4" rotation="-30 0 0")

      a-entity(oculus-touch-controls="hand: left")
      a-entity(oculus-touch-controls="hand: right")

      //- a-entity(tree-pythagoras position="0 3 -3")

      //-a-entity(
        geometry="primitive: plane"
        material="color: blue"
        position="1 2 -3"
        sound="src: boo; autoplay: true; loop: true")
