doctype html
html(lang="en")
  head
    title 🌳🌑⚫ #a〜4o4 ⸻ Flow of Four [#{isProduction ? "production" : "development"}]
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    link(rel="icon" href="favicons/eye-drops.png")
    link(rel="stylesheet" type="text/css" href="style.css")
    //- include ../dist/vendors.pug
    // bundle
  body
    //-include ./scene1.pug
    include ./scene_colour.pug
